.additional-catalog {
  padding: 26px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 44px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 0;
  }
}

.additional-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 81px;
  }
}

.additional-catalog__title {
  position: relative;
  margin: 0 0 35px;
  background-color: $bg-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.additional-catalog__title::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: $bg-primary;
  box-shadow: 50vw 0 0 $bg-primary;

  @media (min-width: $tablet-width) {
    box-shadow:
      50vw 0 0 $bg-primary,
      -50vw 0 0 $bg-primary;
  }
}

.additional-catalog__list {
  @include reset-list;
}

.additional-catalog__aside {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.additional-catalog__aside::before {
  margin: 0 auto 49px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 46px;
  }
}
