.contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    // display: grid;
    // grid-template-columns: auto 565px 1fr auto;
  }
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    // grid-column: 2 / 3;
    // grid-row: 1 / 2;
    // z-index: 1;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding-left: 78px;
    padding-right: 80px;
    background-color: $bg-base;
  }
}

.contacts__text-wrapper--catalog {
  background-color: $bg-secondary;

  @media (min-width: $desktop-width) {
    background-color: $bg-base;
  }
}

.contacts__message {
  @include title("Oswald", 400, #111111);
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 140px;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 157px;
  }
}

.contacts__map {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
