// .contacts {

// }

// .contacts__text-wrapper {

// }

.contacts__message {
  @include title("Oswald", 400, #111111);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}
