.diet {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding: 82px 110px 0;
  }
}
