.gift-option {
  padding: 187px 61px 43px 58px;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-height: 90px;
  color: $color-primary;
  background-color: $bg-primary;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: center 59px;
}
