.main-footer {
  background-color: $bg-secondary;
}

.main-footer__wrapper {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 51px 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 63px 0;
  }
}

.main-footer__social-list {
  margin: 0 auto;
}

.main-footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-right: 150px;
    padding: 10px 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-footer__logo-caption {
  height: 24px;
}

.main-footer__developer-link {
  margin-right: -5px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
