.main-product {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px 20px 25px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 511px;
    padding: 10px 37px 40px;
    background-image: linear-gradient(to bottom, $bg-base 16%, $bg-secondary 16%);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 8px 38px 40px;
  }
}

.main-product__title-link {
  @include opacity;
  width: 76px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.main-product__title {
  @include title("Oswald", 400, #222222);
  grid-column: 2 / 3;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.main-product__image-link {
  grid-row: 1 / 3;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.main-product__image {
  display: block;
  grid-column: 1 / 2;
}

.main-product__list {
  @include reset-list;
  grid-column: 2 / 3;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: auto 0 32px;
  }
}

.main-product__button {
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.main-product--show-more {
  display: block;
  padding-bottom: 24px;
  text-align: center;
  background-image: url("../../icons/stack.svg#cross-icon");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center 22px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    min-height: 429px;
    padding-top: 8px;
    padding-bottom: 38px;
    background-image: url("../../icons/stack.svg#cross-icon-tablet");
    background-size: 60px 60px;
    background-position: center 48px;
    border: 2px solid $bg-secondary;
  }

  @media (min-width: $desktop-width) {
    min-height: 431px;
  }
}

.main-product__title--show-more {
  width: 280px;
  margin: 53px auto 8px;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin: 150px auto 23px;
    width: 134px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 140px;
    margin-bottom: 26px;
  }
}

.main-product__subtitle--show-more {
  margin: 0 0 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 auto 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}
