.main-catalog {
  padding: 27px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 30px;
  }
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.main-catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    width: 1220px;
  }
}
