.main-nav {
  position: relative;
}

.main-nav__list {
  @include reset-list;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
  }
}

.main-nav__list--nojs {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list--open {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  display: block;
  background-color: $bg-base;
}

.main-nav__link {
  @include title;
  @include opacity;
  display: block;
  padding: 21px 0 24px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 14px 0 12px;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 10px;
    font-size: 20px;
    line-height: 30px;
    color: $color-primary;

    &--catalog {
      color: $color-secondary;
    }
  }
}
