.main-header {
  padding: 13px 20px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    background-image: linear-gradient(to right, $bg-base 50%, rgba(104, 183, 56, 0.85) 50%);
  }
}

.main-header--catalog {
  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-header__logo .logo__caption {
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}

.main-header__navigation-toggle {
  display: block;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation-toggle--nojs {
  display: none;
}
