.main-catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 30px;
  }
}

.main-catalog__title {
  margin: 0 0 40px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px;
  }
}

.main-catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 60px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.main-catalog__item--show-more {
  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}
