.social {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.social__link {
  &::after {
    content: "";
    display: block;
    width: 48px;
    height: 42px;
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.4s ease;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $bg-primary;
  }

  &:active::after {
    background-color: #d2e9c3;
  }
}

.social__link--vk::after {
  mask-image: url("../../icons/stack.svg#vk-icon");
}

.social__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube-icon");
}

.social__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram-icon");
}
