.statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.statistics__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-content: start;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.statistics__item {
  margin-bottom: 20px;
  padding: 15px 20px 0;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 99px;
    padding: 15px 18px 0;
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.statistics__data {
  @include title;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.statistics__definition {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.statistics__data--total {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-top: 11px;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin: 0;
  }
}
