.statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.statistics__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 310px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    max-width: none;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.statistics__item {
  margin-bottom: 20px;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.statistics__data {
  @include title;
  padding: 14px 20px 17px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
  }
}

.statistics__definition {
  max-width: 87px;
  margin: -9 auto 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    max-width: 140px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-base;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.statistics__data--total {
  margin: 0 0 20px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    align-self: end;
    flex: none;
    width: 174px;
    margin: 9 0 116px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    display: flex;
    gap: 66px;
    width: 327px;
    margin: 0;
    line-height: 20px;
  }
}
