.subscribe-option {
  padding: 20px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 50px 68px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 104px;
  }
}

.subscribe-option__title {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.subscribe-option__description {
  margin: 0;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}
