.subscribe-option {
  padding: 20px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 104px;
  }
}

.subscribe-option__title {
  position: relative;
  margin: 0 0 32px;
  background-color: $bg-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px -40px;
  }
}

.subscribe-option__title::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 50vw;
  height: 2px;
  background-color: $bg-primary;
  box-shadow: 50vw 0 0 $bg-primary;

  @media (min-width: $tablet-width) {
    box-shadow:
      50vw 0 0 $bg-primary,
      -50vw 0 0 $bg-primary;
  }
}

.subscribe-option__description {
  margin: 0 auto 24px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    width: 640px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
