.subscription {
  display: flex;
  flex-direction: column;
  gap: 16;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
}

.subscription__input {
  @include title;
  @include input;
  padding: 12px;
  font-size: 20px;
  line-height: 30px;
  color: $color-base;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription__button {
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
